.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#owl-container {
  margin-top: 100px;
  width: 150%;
  left: -25%;
  position: relative;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #c4c4c4;
  /* background-color: white; */
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background-color: #5CB85F;
}


.item {
  background-color: #F1F3FF;

}

.owl-nav>.owl-prev>span:hover,
.owl-nav>.owl-next>span:hover {
  background-color: #5CB85F;
}


.table-custom {
  border-collapse: separate;
  border-spacing: 15px;
}

.spacing {
  margin-top: 80px;
}

.sewamobil {
  border: 1px solid black;
  border-radius: 10px;
  padding: 50px;
  color: white;
}

.accordion-spacing {
  margin-top: 20px;
}

.navbarstyling {
  background-color: #F1F3FF;
  box-shadow: 1px 1px 3px;
}

.whyus-card {
  box-shadow: 1px 1px 7px;
  margin: 10px;
}

.whyus-card:hover {
  background-color: #F1F3FF;
  transform: translateY(-15px);
  transition: transform .75s;
}


.footer {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 1px -1px 3px;
  padding: 10px;
}

.formsetting{
  box-shadow: "0px 0px 10px";
  position: "relative";
  
}


@media screen and (min-width:992px) {

  .item {
    height: 100%;
  }

  .textjudul {
    margin-top: 100px;
  }

  .bground {
    padding-bottom: 190px;
  }

  .car {
    position: absolute;
    width: 704px;
    margin-left: 100px;
    margin-bottom: 300px;
    overflow-y: hidden;
  }

  .btnsetting{
    margin-top: 40px;
  }

  .formsetting{
    bottom: 70%
  }

}

@media screen and (max-width:991px) {

  .listcar{
    margin-top:50px;
  }

  .formsetting{
    top: 10%
  }

  .btnsetting{
    margin-top: 3%;
  }

  .star {
    text-align: center;
  }

  .item {
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .textjudul {
    font-size: 36px;
  }

  .navbar {
    z-index: 1000;
  }

  .navbar-collapse {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
  }

  .navbar-nav {
    background-color: white;
    height: 100vh;
    width: 50%;
    left: 100%;
    position: absolute;
    transition: left .35s ease;
  }

  .navbar-collapse.collapsing {
    transition: background-color .35s ease;
  }

  .navbar-collapse.show .navbar-nav {
    transition: left .35s ease;
    left: 50%;
  }

  .nav-item {
    margin-left: 10px;
  }

  .car {
    position: absolute;
    width: 500px;
    overflow-y: hidden;

  }

  #section1 {
    margin-bottom: 375px;
  }

  .footer {
    text-align: left;
  }

  .iconlogo {
    margin-bottom: 10px;
  }
}


#filter-box {
  position: absolute;
  z-index: 1090;
}

.background-filter {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  display: none;
  opacity: 60%;
}

.listcar-card {
  box-shadow: 1px 1px 7px;
  margin: 10px;
}

.listcar-card:hover {
  background-color: #F1F3FF;
  transform: translateY(-15px);
  transition: transform .75s;
}